<html>
<head>
<title>BIOle's blog</title>
</head>
<body>
<div>
<h1><a href="/">BIOle's blog</a></h1>
</div>
<div>
<p>published: 04.12.2019, 12:14</p>
<h2><a href="">My first post</a></h2>
<p><em>Musgos, musgos, adn, musgos. Somos tan solo una gran bacteria.</em></p>
</div>
<div>
<p>published: 04.12.2019, 12:14</p>
<h2><a href="">My second post</a></h2>
<p><em>La endosimbiosis es lo más.</em></p>
</div>
<div>
  <h3><a href=""> Bacterias </a></h3>
  <p><em>Bacterias viven dentro de nosotres, dentro de cada una de nuestras células. Pero no os preocupeis, nosotres somos también bacterias></em></p>
</div>
</body>
</html>
